@import "heade_n_footer";
@import "variables";

.d-block{
    max-height: 80vh;
}

.carousel-control-prev{
    background: transparent;
    border: none;
}

.carousel-control-next{
    background: transparent;
    border: none;
}

.events-section-2{
    background-color: $second-color;
    margin-top: 10rem;
    padding: 5rem;
}

@media (max-width:576px){
    .events-section-2{
        padding: 0;
    }
    iframe{
        width: 100vw;
    }

    .events-section-2-2{
        padding: 3rem;
    }
}