*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

@import "variables";






html{
    font-size: 62.5%;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

h1,h2{
    font-family:$title-family;
    font-size: $font-size*3;
    color: $main-color;
}

h2{
    @extend h1,h2;
    font-size: $font-size*3;
    color: $second-color;
}

h4{
    font-size: $font-size;
    color: $third-color;
}

header {
    background:$main-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10rem;
    align-items: center;
    padding: 1.5rem;
}



.menu{
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
    
}


.dropdown{
    display: none;
}
.menu_ul-li{
    list-style: none;
}

.menu_ul-li a{
    text-decoration: none;
    font-size: $font-size;
    color: $second-color;
    margin-left: 3rem;
    font-family: 'Montserrat', sans-serif;

}

.menu_ul-li a::after{
    content: '';
    background: $second-color;
    display: block;
    height: 2px;
    width: 0;
    transition: width .3s;
}

.menu_ul-li a:hover::after{
    width: 100%;
    transition: width .3s;
}

main{
    height: fit-content;
    background-color: $third-color;
}

footer{
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.footer__section{
    display: flex;
    flex-direction: row;
    background: $main-color;
    justify-content: space-between;
    padding: 5rem;
}

.footer__section--div {
    color: $second-color;
    font-family: var(--font-family-p);
    font-size: $font-size;
}

.footer__section--div ul li a{
    @extend .footer__section--div;
}

