@import "variables";

p{
    font-size: $font-size;
    font-family: var(--font-family-p);
}

.section-1{
    height: 100vh;
    width: 100vw;
}

.section-1__div--image{
    background-image: url(../assets/section-1.jpg);
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

.section-1__div--description{
    padding: 5rem;
}

.section-1__div--title{
    font-size:$font-size*3;
    padding-right: 10rem;
    padding-top: 10rem;
    color: $main-color;
}



.section-1__div--description button{
    padding: 2rem 3rem;
    background-color: $main-color;
    border: none;
    border-radius: 50px;
    color: $second-color;
    margin-top: 7rem;
}

.section-1__div--description button a{
    color: $second-color;
    font-size: $font-size;
}

.section-1__div--description button:hover{
    transform: scale(1.1,1.1);
    transition: 0.01s;
}

/*Section 2*/

.section-2{
    width: 100vw;
    height: 100vh;
}

.section-2__div--description{
    @extend .section-1__div--description;
    padding-right: 20rem;
    .section-2__div--title{
        @extend .section-1__div--title;
        margin-bottom: 5rem;
    }
}


.section-2__div--image{
    @extend .section-1__div--image;
    background-image: url('../assets/section-2.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
    overflow-x: hidden;
}

/*Section 3*/

@mixin display($display, $justification,$direction){
    display: $display;
    align-items: $justification;
    flex-direction: $direction;
    
}
@mixin sizes($width,$height) {
    width: $width;
    height: $height;
    
}

.img img{
    @include sizes(30rem,30rem)
}

.section-3{
    width: 100vw;
    height: fit-content;
    background-color: $second-color;
    .section-3__div--title{
        width: 100%;
        height: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10rem;
    }
    .section-3__div--grid{
        padding-top: 10rem;
        display: grid;
        grid-template-areas: 
        "div1"
        "div2";
        margin: 0 10rem;
        .grid--div-1{
            grid-area: div1;
            margin-bottom: 5rem;
            display: flex;
            flex-direction: row; 
            justify-content: space-evenly;       
           
            .grid--div-salsa{
       
                @include display(flex,center,column);
                margin: 1rem;
                border-radius: 30px;
                margin: 0 1rem;
                box-shadow: 0.5px 1px 5px black;
                overflow: hidden
                
            }
            .grid--div-tango{
        
                @include display(flex,center,column);
                @extend .grid--div-salsa;
                
            }
            
           
        }
        .grid--div-2{
            @extend .grid--div-1;
            grid-area: div2;
           
            .grid--div-urbano{
            
                @include display(flex,center,column);
                @extend .grid--div-salsa;
               
            }
            .grid--div-ballet{
           
                @include display(flex,center,column);
                @extend .grid--div-salsa;
              
            }
        }
        
        .dance-button{
            padding: 2rem 5rem;
            background-color: $main-color;
            border: none;
            border-radius: 50px;
            color: $second-color;
            margin: 2rem 0;
        }
        .dance-button a{
            color: $second-color;
            font-size: $font-size;
            
        }
        .dance-button:hover{
            transform: scale(1.1,1.1);
            transition: 0.01s;
        }
        
    }
}

.section-4{
    display: flex;
    align-items: center;
    .section-4__div{
        width: 50%;
        padding: 5rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }  
    .section-4__div h2{
        color: $main-color;
    }
    .section-4__div input{
        width: 30rem;
        height: 6.4rem;
        border: 2px,$main-color;
        border-radius: 50px;
        border: 0.5px, $main-color;
        outline: 1px, $main-color;
        margin-right: 2rem;
        font-size: medium;
        color: $main-color;
        padding-left: 2rem;
    }
    .section-4__div input:hover{
        box-shadow: 0.5px 1px 5px black;
    }
    .section-4__div input:focus{
        outline: none;
    }

    .section-4__div input::placeholder{
        font-size: medium;
        padding-left: 3rem;
    }

    .section-4__div button{
        padding: 2rem 5rem;
        background-color: $main-color;
        border: none;
        border-radius: 50px;
        color: $second-color;
        margin: 0;
    }
    .section-4__div button a{
        color: $second-color;
        font-size: $font-size;
    }

    .section-4__div button:hover{
        transform: scale(1.1,1.1);
        transition: 0.01s;
    }

}